<Doctype html>
<html>
<head>
  <title>Receipts FLN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Neue Helvetica">
</head>

<body>

  <div class="row">
    <div class="col-sm-4 col-dstyle">
      <div class="page-header">
        <div id="head-container">
          <a href="#"><img src="img/rflnlogo4.png"></a>
        </div>
      </div>
      <div id="button-container">
        <p>You threw large, and here's the proof..</p>
        <button type="button" class="btn btn-default btn-lg">Upload a Receipt
        </button>
      </div>
      <div id="sort-container">
        <div id="sort">
          <p><a href="#">Best nights<span class="glyphicon glyphicon-thumbs-up"></span></a></p>
          <p><a href="#">Worst nights<span class="glyphicon glyphicon-thumbs-down"></span></a></p>
          <p><a href="#">Most shared<span class="glyphicon glyphicon-fire"></span></a></p>
        </div>
      </div>
      <div id="search-container">
        <div id="search-box">
          <form id="search" method="get" action="">
              <div class="glyphicon glyphicon-search"></div>
              <input class="searchinput" type="text" placeholder="SEARCH">
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-8 well dstyle">
      <div id="post">
        <div id="vote">
          <ul id="vote-links">
            <li><a href="#">Great night<span class="glyphicon glyphicon-thumbs-up"></span></a></p>
            </li>
            <li><a href="#">Terrible night<span class="glyphicon glyphicon-thumbs-down"></span></a></p>
            </li>
          </ul>
        </div>
        <div id="headline">
          <a href="#"><h2> This is my killer headline for my super-bitchin receipt that I'm posting on this awesome blog</h2></a>
        </div>
        <div id="receipt">

        </div>
        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>

        <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. </p>
      </div>
    </div>
  </div>
</body>